<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acesso.css') }}">
</head>
<body>
    <div class="container">
        <div class="caixa-titulo">
            Bem-vindo, {{ nomeUsuario }}
        </div>
        <div class="caixa-subtitulo">
            SUAS ATIVIDADES
        </div>

        {% if tarefas %}
            <ul>
                {% for tarefa in tarefas %}
                    <li>
                        <strong>{{ tarefa.titulo }}</strong>
                        <div class="descricao-caixa">
                            {{ tarefa.descricao }}
                        </div>
                        <br>Status: {{ tarefa.status }}
                        <br>Criado em: {{ tarefa.data_criacao.strftime('%d/%m/%Y') }}
                        {% if tarefa.data_conclusao %}
                            <br>Concluído em: {{ tarefa.data_conclusao.strftime('%d/%m/%Y') }}
                        {% endif %}

                        <div class="button-container">
                            <a href="{{ url_for('editar_tarefa', tarefa_id=tarefa.id) }}">Editar</a>
                            <form action="{{ url_for('excluir_tarefa', tarefa_id=tarefa.id) }}" method="POST">
                                <button type="submit">Excluir</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="sem-atividades">Você não tem atividades cadastradas.</p>
        {% endif %}

        <a href="{{ url_for('criar_tarefa', usuario_id=request.args.get('nome')) }}" class="btn-criar">Criar Nova Atividade</a>
        
        <a href="{{ url_for('home') }}" class="btn-sair">Sair</a>
    </div>
</body>
</html>
