<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div id="container-login">
        <h1>REFAS</h1>
        {% with mensagens = get_flashed_messages(with_categories=True) %}
            {% if mensagens %}
                <div id="alerta" class="{{ mensagens[0][0] }}">
                    {{ mensagens[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('login') }}" method="post">
            <section id="login">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome de usuário" required>
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                <button type="submit" id="btn-entrar">ENTRAR</button>
            </section>
        </form>
        <a href="{{ url_for('cadastrar') }}">Cadastrar Novo Usuário</a>
    </div>
</body>
</html>
